<!DOCTYPE html>
<html>
<head>
<title>Test Project </title>
</head>
<body>

<h1>WELCOME TO HOMEPAGE OF MY TEST PROJECT</h1>
<p> This is a presentation of to showcase 20 restaurants located in Melbourne CBD using Yelp API<p>

<span style="color:red;">{{data.error}}</span>

</body>
</html>